body{
    background: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    

}
footer{
    text-align: center;
    color: white;
    background: gray;
    width: 60%;
    margin: 0 auto;

    height: 100px;

}